name: Install with Micromamba

on: [push]

jobs:
  create-env:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          init-shell: bash

      - name: Create and activate environment
        run: |
          micromamba create -n myenv python=3.9 -y
          micromamba activate myenv

      - name: Install ViennaRNA
        run: |
          micromamba install -n myenv -c conda-forge -c bioconda viennarna -y

      - name: Install Vienna package
        run: |
          micromamba activate myenv
          pip install .

      - name: Run tests
        run: |
          micromamba activate myenv
          pytest
